* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --color-white: #FFFFFF;
  --color-gray-100: #E3E6EC;
  --color-gray-200: #B2B7BF;
  --color-gray-300: #5A5C66;
  --color-gray-400: #474955;
  --color-green: #7EBC3C;
}
