.pagination {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 41px;

  .previous,
  .next {
    font-weight: 500;
    font-size: 24px;
    color: var(--color-gray-400);
    list-style: none;
    cursor: pointer;
    user-select: none;
  }

  .pages {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .page {
      font-weight: 700;
      font-style: italic;
      font-size: 18px;
      color: var(--color-gray-400);
      cursor: pointer;
      user-select: none;

      &.active {
        color: var(--color-green);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .pagination {
    padding: 8px;

    .previous,
    .next {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 479px) {
  .pagination {
    justify-content: center;

    .previous,
    .next {
      display: none;
    }
  }
}
