.search {
  max-width: 631px;
  height: 52px;
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
  gap: 26px;
  background: var(--color-gray-300);

  .search-input {
    width: 100%;
    height: 19px;
    border: 0;
    border-bottom: 1px solid transparent;
    color: var(--color-white);
    background: transparent;

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--color-green);
    }

    &::placeholder {
      color: var(--color-gray-200);
    }
  }

  .search-icon {
    width: 21px;
    height: 21px;
    cursor: pointer;
  }
}
