.table {
  width: 100%;
  position: relative;
  border-collapse: collapse;

  .table-head {
    height: 54px;
    background: var(--color-gray-400);
    color: var(--color-white);
    position: sticky;
    top: 0;

    .table-head-element {
      min-width: 114px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 14px;
      padding: 4px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      user-select: none;

      .arrow {
        width: 12px;
        height: 12px;

        &.up {
          transform: rotate(180deg);
        }
      }

      &.selected {
        color: var(--color-green);
      }
    }
  }

  .table-body-element {
    padding: 10px 12px;
    text-align: left;
    border: 1px solid var(--color-gray-100);
    font-weight: bold;
    font-size: 13px;
    line-height: 17.9px;
    color: var(--color-gray-400);
    white-space: pre-line;

    &.center {
      text-align: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .table {
    .table-head {
      .table-head-element {
        min-width: fit-content;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .table {
    .table-head {
      .table-head-element {
        padding: 4px;

        .arrow {
          display: none;
        }
      }
    }

    .table-body-element {
      padding: 2px;
    }
  }
}
