.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 25px 78px;
  gap: 14px;

  .not-found {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: var(--color-gray-400);
  }
}

@media screen and (max-width: 479px) {
  .app {
    padding: 0;
  }
}
